.wrapper {
  margin: 0 2rem;
  padding: 1rem;
  background-color: rgb(196, 211, 250);
}

.table thead :first-child {
  background-color: #9980fa;
}

.table th {
  text-align: start;
  padding: 1.5rem 3rem;
  color: white;
}

.table td {
  text-align: start;
  padding: 1rem 3rem;
  color: #737475e8;
  cursor: pointer;
}

.table tbody tr:hover {
  background-color: #ccc2f5b7;
}

table th:first-child {
  border-top-left-radius: 10px;
}
table th:last-child {
  border-top-right-radius: 10px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
