body {
  background-color: rgba(234, 234, 234);
  color: rgba(47, 65, 78, 0.95);
}

li,
ul {
  margin: 0;
  list-style-type: none;
}
p {
  font-size: 0.9em;
}
h3 {
  font-size: 1.3em;
}
li {
  padding: 1rem 0;
}

ul {
  padding: 0;
}

.main-color {
  color: #e15f41;
}

.btn.main-color {
  background-color: #e15f41;
  color: white;
  border-radius: 0;
}

hr {
  margin: 0.7rem 0;
}

div.img-wrapper {
  width: 40%;
}

div.article-detail {
  max-width: 60%;
}

div.img {
  padding-top: 66%;
  width: 100%;
  background-color: red;
}

.article .img-wrapper .img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.cbt-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.article {
  margin-bottom: 30px;
  transition-duration: 0.3s;
}

.article:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.article-detail {
  flex-grow: 1;
}

.services {
  padding: 1rem;
}

.d-flex.flex-row-reverse.pt-2.fa-sm {
  font-size: 0.8rem;
}

.bg-main-color {
  background-color: rgba(234, 234, 234);
}

@media only screen and (max-width: 991px) {
  div.img-wrapper {
    width: 100%;
    max-width: 100%;
  }

  div.article {
    flex-wrap: wrap;
  }

  div.article-detail {
    max-width: 100%;
  }
}

li {
  display: flex;
  align-items: center;
}
