body,
html {
  background-color: #bdc3c7;
}

.main-color {
  color: #e15f41;
}

.btn.main-color {
  background-color: #e15f41;
  color: white;
  border-radius: 0;
}

hr {
  margin: 0.5rem 0;
}

.bg-main-color {
  background-color: #bdc3c7;
}

p {
  margin: 0.5rem 0;
}

a {
  margin-top: -1.1rem;
}


